@import 'client/styles/variables';

.control {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 10px;
}

.button {
  margin: 0 1px 0 0;
  padding: 0 10px;
  border-radius: 0;
  white-space: nowrap;
  font-size: 11px;
  text-transform: uppercase;

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
    margin-left: 0;
  }

  &.on {
    color: white;
    background-color: $color-blue;

    &:hover:enabled {
      background-color: color-mod($color-blue l(48%));
    }

    &:active:enabled {
      background-color: color-mod($color-blue l(44%));
    }
  }
}
