@import 'client/styles/global';
@import 'client/styles/variables';

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.splitView {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}
